fastapi
uvicorn[standard] # [standard] для поддержки websockets и др.
celery
redis
pydantic
python-jose[cryptography]
python-multipart
websockets
aiofiles
requests
python-dotenv
opencv-python
numpy
